
/* src/App.css */
.body {
  background-color:bisque;
}

@keyframes blinking {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
  
}


@keyframes runningText {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0%);
  }
}
